fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.2
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
boto3==1.33.6
google-auth==2.23.4
python-multipart
python-jose[cryptography]
python-dotenv
jwt
bcrypt
requests==2.31.0
